{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  
<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Login</h3>
      <hr>
      <form action="" method="post" novalidate  class="shadow p-5">
        {% csrf_token %}
  
          {{form|crispy}}
          
  
        <div class="form-group"></div>
       <small><a href="#">Forgot Password ?</a></small> <br>
       <input type="submit" class="btn btn-primary mt-4" value="Login">
       <br>
       <div class="text-center text-primary fw-bold"> <small>Register<a href="{% url 'signup' %}"
        class="text-danger">signup</a></small> </div>
      </form>  
     </div>
    </div>
   </div>
{% endblock content %}
