{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row">
     <div class="col-sm-6 text-center align-self-center">
      <img src="{{product.img.url}}" alt="" class="img-fluid img-thumbnail">
     </div>
     <div class="col-sm-5 offset-sm-1">
      <h2>Product Title: {{product.name}}</h2>
      <hr>
      <p> <b>Brand</b> : {{product.brand}}</p> 
      <p> <b>Size</b> : {{product.size}}</p> 
      <p><b>Catagory</b>: {{product.catagory}}</p>
      <h4>$ {{product.price}}</h4> <br>
  {% if request.user.is_authenticated %}
    {% if item_already_have %}
      <a href="{% url 'cart' %}" class="btn btn-warning shadow px-5 py-2 ms-4"> Show cart</a>
    
    {% else %}
       <form action="/productcart" class="d-inline" >
        {% csrf_token %}
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
        
        <button class="btn btn-primary shadow px-5 py-2">Add To Cart</button>
       </form>

       
    {% endif %}
  {% endif %}

  {% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}"class="btn btn-primary shadow px-5 py-2">Add To Cart</a>
  {% endif %}

  {% if request.user.is_authenticated %}
   {% if item_already_have %}
       <a href="{% url 'place-order' %}" class="btn btn-danger shadow px-5 py-2">place-order</a>
 
   {% else %}
    <form action="/productbuy" class="d-inline" >
    {% csrf_token %}
    <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
 
    <button class="btn btn-danger shadow px-5 py-2">Buy Now</button>
   </form>
{% endif %}
 {% endif %}

 {% if not request.user.is_authenticated %}
 
 
   <a href="{% url 'login' %}"class="btn btn-danger shadow px-5 py-2">Buy Now</a>
  
 {% endif %}
    
      <h5 class="mt-5">Details</h5>
      {{product.details}}
     </div>
    </div>
   </div>
<hr>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6">
      <form action="/review" method="GET" class="shadow p-5">
        <input type="hidden" name="review" id="review" value="{{product.id}}">
        <label for="">Rating </label> <br>
        <div class="rate">
        <input type="radio" name="rating" id="rating10" value="5" required>   <label for="rating10" title="5"></label>
        <input type="radio" name="rating" id="rating9" value="4.5" required > <label for="rating9" title="4.5" class="half"></label>
        <input type="radio" name="rating" id="rating8" value="4" required >   <label for="rating8" title="4"></label>
        <input type="radio" name="rating" id="rating7" value="3.5" required > <label for="rating7" title="3.5" class="half"></label>
        <input type="radio" name="rating" id="rating6" value="3" required >   <label for="rating6" title="3"></label>
        <input type="radio" name="rating" id="rating5" value="2.5" required > <label for="rating5" title="2.5" class="half"></label>
        <input type="radio" name="rating" id="rating4" value="2" required >   <label for="rating4" title="2"></label>
        <input type="radio" name="rating" id="rating3" value="1.5" required > <label for="rating3" title="1.5" class="half"></label>
        <input type="radio" name="rating" id="rating2" value="1" required >   <label for="rating2" title="1"></label>
        <input type="radio" name="rating" id="rating1" value="0.5" required > <label for="rating1" title="0.5"class="half"></label> 
         </div>
        <br><br>
        Write a comment <br>
        <textarea name="texts" rows="5" cols="10" class="form-control"></textarea> <br>
        {% if request.user.is_authenticated %}
        <input type="submit" class="btn btn-primary block" value="Post">
        {% else %}
        <p class="alert alert-danger">Without login can't submit review please <a href="{% url 'login' %}" >login</a></p>
        
        {% endif %}
      </form>
    </div>
    
     <div class="col-sm-6">
      <p class="alert alert-info text-center">products review</p>
      <div class="container">
        <div class="row">
      {% for i in review  %}
        <div class="col-sm-12 my-2">
          <div class="review">
            <strong><i class="fa-solid fa-user"></i> {{i.user.username}} </strong><span>{{i.date}}</span>
            <i class="fa-solid fa-star {% if i.rating >= 5 %} checkd {% endif %} " style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 4.5 %} checkd {% endif %} half"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 4 %} checkd {% endif %}"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 3.5 %} checkd {% endif %}half"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 3 %} checkd {% endif %}"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 2.5 %} checkd {% endif %} half"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 2 %} checkd {% endif %}"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 1.5 %} checkd {% endif %} half"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= 1 %} checkd {% endif %}"style="float:right"></i>
            <i class="fa-solid fa-star {% if i.rating >= .5 %} checkd {% endif %} half"style="float:right"></i>
          
            <p class="my-2">{{i.review}}</p>
          </div>
        </div>
      {% endfor %}
        </div>
      </div>
     </div>
  
</div>
{% endblock content %}